{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Xudong - Up&Down{% endblock %}

{% block page_content %}
<div class="page-header">
    {% if current_user.can(Permission.ADMIN) %}
        <h4>您拥有上传文件的权限，但请善用权限，不要上传无用文件。</h4>
    <div class="upload-form">
        {{ wtf.quick_form(upform) }}
    </div>
    {% else %}
        <p>您没有上传文件的权限，但可以下载资源。</p>
    {% endif %}
</div>

<table class="table table-hover">
    <thead>
        <th class="active">文件名</th>
        <th class="active">文件类型</th>
        <th class="active">上传时间</th>
        <th class="active">上传者</th>
        <th class='active'>文件说明</th>
    </thead>
    <tbody>
        {% for file in files %}

            <!-- tr -->
            {% if file.disabled %} <tr class="bg-danger">
            {% else %}
            <tr class="bg-success"> {% endif %}
                <td>{{ file.filename }}</td>
                <td>{{ file.extension }}</td>
                <td>{{ moment(file.timestamp).fromNow() }}</td>
                <td>
                <a  href="{{ url_for('main.user', username=file.uploader_user.username) }}">
                    {{ file.uploader_user.username }}
                </a>
                </td>
                <td>{{ file.note }}</td>
                <td>
                    {% if not file.disabled %}
                    <a href="{{ url_for('updown.download', filename=file.filename) }}"
                       class="btn btn-success" role ="button">下载</a>
                    {% else %}
                    <a class="btn btn-danger" role ="button">禁用</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}

    </tbody>
</table>


{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.updown')}}
</div>
{% endif %}
{% endblock %}
