{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Xudong - Up&Down{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h2>Fun Pic</h2>
    </div>
    <div>
        {% if current_user.is_authenticated %}
        {{ wtf.quick_form(form) }}
        {% endif %}
    </div>
<div class="pic-tabs">
    <ul class="nav nav-tabs">
        <li{% if not show_girls %} class="active"{% endif %}><a href="{{ url_for('.show_funny') }}">Funny</a></li>
{#        {% if current_user.is_authenticated %}#}
        <li{% if show_girls %} class="active"{% endif %}><a href="{{ url_for('.show_girls') }}">Girls</a></li>
{#        {% endif %}#}
    </ul>

    {% if pagination %}
    <div class="pagination">
        {{ macros.pagination_widget(pagination, '.index')}}
    </div>
    {% endif %}

    {% for link in links %}
        <p></p>
        <img src="{{ link.piclink }}" style="max-width:100%;">
        <p></p>
    {% endfor %}
</div>

{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.index')}}
</div>
{% endif %}
{% endblock %}
