{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Xudong - Up&Down{% endblock %}

{% block page_content %}
<div class="page-header">
    Fun Pic
</div>
    {% if current_user.is_authenticated %}
    <div>{{ wtf.quick_form(form) }}</div>
    {% endif %}
<div class="funpic-tabs">
    <ul class="nav nav-tabs-justified">
        <li{% if not show_girls %} class="active"{% endif %}><a href="{{ url_for('.show_funny') }}">Funny</a></li>
{#        {% if current_user.is_authenticated %} 暂不进行权限管理#}
        <li{% if show_girls %} class="active"{% endif %}><a href="{{ url_for('.show_girls') }}">Girls</a></li>
{#        {% endif %}#}
    </ul>
    {% for link in links %}
        <p></p>
        <div>
        <img src="{{ link.piclink }}" style="max-width:100%;">
        </div>
        <p></p>
    {% endfor %}
</div>

{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.index')}}
</div>
{% endif %}
{% endblock %}
